<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!customer"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="customer">
  <thead>
    <tr>
      <th>Name</th>
      <th>LastName</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ customer.customer }}</td>
      <td>{{ customer.customer.lastName }}</td>
    </tr>
  </tbody>
</table>
