
<mat-sidenav-container class="sidenav--container">
  <mat-sidenav #drawer class="sidenav mat-elevation-z10" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary" class="mat-elevation-z12">
      <mat-toolbar-row>
        <span>Menu</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-nav-list class="sidenav--list">
      <mat-list-item>
        <a routerLink="/">Home</a>
        <mat-icon mat-list-icon>home</mat-icon>
      </mat-list-item>
      <mat-list-item>
        <a routerLink="/user">User Management</a>
        <mat-icon mat-list-icon>person</mat-icon>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="toolbar--main" color="primary">
      <mat-toolbar-row>
        <button
        type="button"
        aria-label="Toggle sidenav"
        mat-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
