<div class =autocomplete-container>
  <form class="example-form autocomplete" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Number</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Number"
             matInput
             formControlName="addr"
             [matAutocomplete]="auto">

      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" panelWidth="370px">
        <mat-option *ngFor="let address of addresses | async" [value]="address.place_name">
          {{address.place_name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
